/* Carousel Section */
.carousel-section {
    margin: 2rem 0;
  }
  
  /* Carousel Title */
  .carousel-title {
    font-size: 2rem;
    color: #003f5c; /* Dark Blue */
    margin-bottom: 1rem;
    font-family: 'DM Serif Text', serif;
    transition: color 0.3s ease;
  }
  .carousel-title:hover {
    color: #f4b400; /* Yellow on hover */
  }
  
  /* Carousel Container */
  .carousel-container {
    padding: 1rem 2rem;
    position: relative;
  }
  
  /* Carousel Project */
  .carousel-project {
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 0.1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    position: relative;
  }
  .carousel-project:hover {
    transform: scale(1.05);
  }
  
  /* GitHub Logo */
  .carousel-project img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 8px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
  }
  
  /* Carousel Project Title */
  .carousel-project h4 {
    font-size: 1.2rem;
    color: #003f5c; /* Dark Blue */
    font-family: 'DM Serif Text', serif;
    transition: color 0.3s ease;
  }
  .carousel-project:hover h4 {
    color: #f4b400; /* Yellow on hover */
  }
  
  /* Carousel Project Description */
  .carousel-project p {
    font-size: 1rem;
    line-height: 1.4;
    color: #5a5a5a;
    flex-grow: 1;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
    padding: 0 15px;
  }
  
  /* Slick Slider Adjustments */
  .slick-slide {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
  
  /* Carousel Arrows */
  .slick-prev, .slick-next {
    font-size: 2rem;
    color: #003f5c;
    z-index: 1;
  }
  .slick-prev {
    left: -20px;
    top:150px;
  }
  .slick-next {
    right: -20px;
    top:150px;
  }
  .slick-prev:hover {
    color:#f4b400
  }
  .slick-next:hover {
    color:#f4b400
  }
  
 
  /* Skill Containers */
  .carousel-project .skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  .carousel-project .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  /* Skill Items */
  .carousel-project .skill-item {
    background-color: #dddddd;
    color: #003f5c;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    font-family: 'Raleway', sans-serif;
  }
  .carousel-project .skill-item:hover {
    background-color: #00243b; /* Darker blue on hover */
  }
  
  .slick-dots {
    bottom: 260px; /* Adjust this to move the dots closer to the carousel */
    margin-top: 0; /* Remove any default margin above the dots */
    padding: 0; /* Remove any default padding */
  }
  
  .slick-dots li {
    margin: 0 5px; /* Adjust the spacing between the dots */
  }
  
 
  
 