.education-section {
    padding: 1rem 2rem;
    background-color: #ffffff;
    color: #030a54;
    border-left: 85px solid #ffffff;
    border-right: 85px solid #ffffff;
    margin-top: -140px;
    position: relative;
  }
  
  /* Vertical line through the entire education list */
  .education-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding-left: 2rem; /* Adjust for the line and dot position */
  }
  
  .education-list::before {
    content: '';
    position: absolute;
    left: 0.2rem; /* Position the line */
    top: 50px;
    bottom: 0px;
    width: 2px;
    background-color: #003f5c; /* Dark blue line */
  }
  
  /* Each education item */
  .education-item {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    position: relative;
  }
  
  .education-item::before {
    content: '';
    position: absolute;
    left: -2.2rem; /* Position the dot relative to the line */
    top: 2.3rem; /* Align the dot with the title */
    width: 10px;
    height: 10px;
    background-color: #003f5c; /* Dot color */
    border-radius: 50%;
    border: 2px solid #ffffff; /* White border for the dot */
  }
  
  .education-header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    margin-bottom: 0.2rem;
  }
  
  .school-name {
    font-size: 1.2rem;
    color: #003f5c;
    margin-bottom: 0rem;
  }
  
  .course-name {
    font-size: 1.1rem;
    color: #006e8e;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  
  .dates {
    font-size: 1rem;
    color: #999999;
    margin-top: 0rem;
    margin-bottom: 0.3rem;
  }
  
  .gpa {
    font-size: 1rem;
    color: #003f5c;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  
  /* Coursework list */
  .coursework {
    font-size: 1rem;
    line-height: 1.4;
    color: #003f5c;
  }
  
  .course-item {
    list-style-type: '> ';
    color: #003f5c;
    font-weight: normal;
    margin-bottom: 0.2rem;
  }
  